@{
    ViewData["Title"] = "Bilişim bölümü";
}

<section id="anaSayfa">
    <div id="carouselExampleCaptions" class="carousel slide carousel_height " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner carousel_height">
            <div class="carousel-item active carousel_height">
                <img src="~/img/robotik.png" class="d-block w-100 h-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p class=" text text-danger"> Geleceğe açılan kapı Robotik ve kodlama eğtimi</p>
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/web_tasarım.jpg" class="d-block w-100  h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p class=" text text-danger"> Geleceğe yön veren Web tasarımı eğtimi </p>
                </div>
            </div>
            <div class="carousel-item carousel_height">
                <img src="~/img/ağ.jpg" class="d-block w-100 h-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p class=" text text-danger"> Daha güvenli dünya için Ağ sistemleri ve güvenliği eğtimi</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section id="hakkimizda" class="container">

    <h2 class="bol display-5 text-danger mt-4">Hakımızda</h2>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 ">
            <img src="~/img/bilişim 1.jpg"class="img-fluid order-2" />
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="d-flex flex-column h-100 justify-content-center">

                <p class="text">
                    Okulumuz Karatay İMKB Teknik ve Endüstri Meslek Lisesi bünyesinde Bilişim Teknolojileri Alanı açılmış ve Eğitim-Öğretime başlamıştır.
                    Okulumuz, 2012 yılından itibaren kendi bina ve atölyelerinde, Endüstri Meslek Lisesi, Anadolu Teknik Lisesi ve Teknik Lise Programlarıyla, Bilişim Teknolojileri eğitim-öğretime devam etmiştir.
                    2016 yılı itibariyle birçok alanda başarı elde ederek okulumuzun en gözde bölümü olmaya devam etmektedir.
                </p>
            </div>
        </div>

    </div>
</section>
<section id="Dallarımız" class="container">
    <h2 class="bol display-5 text-danger mt-5">Dallarımız</h2>
    <div class="row  mt-5">
        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/ağ2.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger ">Ağ işletme ve güvenliği </h5>                     
                    <p class="card-text">Bilgisayar sistemlerinin yazılım kurulumu ve ağ sistemlerinin kurulumu, yönetimi ve ağ ortamı üzerinde yaşanabilecek sorunlar, çözüm yolları ve yönetimine yönelik eğitim vermekteyiz. </p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/web2.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Web tasarım dalı</h5>
                    <p class="card-text ">Web programcıları, kamu kuruluşları, bankalar ile özel sektöre ait iş yerleri, internet üzerinden ticaret (e-ticaret) yapan firmalarda kolay iş imkanı gibi avantajlara sahiptir. </p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="~/img/robotik.png"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger">Robotik ve Kodlama dalı</h5>
                    <p class="card-text">Burda geleceği yazan gençelri yetiştiriyoruz.Bir çok kaynak gerektiren tasarım faliyetlerimiz hız kesmeden devam ediyoruz.Son yıllarda oldukça popüler olan bu dalda konyada 1. biziz</p>
                    <a href="#" class="btn btn-danger">Daha Fazla bilgi...</a>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="Galeri" class="container">
    <h2 class="bol display-5 text-danger mt-5 justify-content-center">Bizden Görüntüler</h2>
    <div class="card-group mt-4">
        <div class="card">
           <img src="~/img/robo karatay 1.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-danger">Robo karatay yarışması</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>           
        </div>
        <div class="card">
            <img src="~/img/robo2.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-danger">Hızlı çizgi izleyen pistte</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            
        </div>
        <div class="card">
            <img src="~/img/tır.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-danger">Yurt dışına uğurladığmız bilgisayarlar</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            
        </div>
    </div>
    <div class="card-group mt-4">
        <div class="card">
            <img src="~/img/idare1.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-danger">idarecilerimiz</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="~/img/yarışma.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-danger">Yarışmaya hazırlık</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>

        </div>
        <div class="card">
            <img src="~/img/pist.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-danger">Deneme pistleri hazır</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>

        </div>
    </div>
</section>
<section id="İletisim" class="container">

    <h2 class="display-5 text-danger">İletişim</h2>
    <div class="row">
        <div class="col-md-6  col-sm-12 ">
            <div class="d-flex flex-column h-100 justify-content-center">
                <form class="form">
                    <div class="form-group">
                        <label for="form-ad"><span class="text-white">Ad</span></label>
                        <input type="email" class="form-control" id="form-ad" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <label for="form-email"><span class="text-white">Mail adresinizi giriniz</span></label>
                        <input type="email" class="form-control" id="form-email" placeholder="örn*mail@gmail." />
                    </div>
                    <div class="form-group">
                        <label for="form-subject"><span class="text-white">Telefon numarsı</span></label>
                        <input type="number" class="form-control" id="form-telefon" placeholder="örn*05012345678">
                    </div>
                    <div class="form-group">
                        <label for="form-message"><span class="text-white">Mesajınız veya e-mailiniz</span></label>
                        <textarea class="form-control" id="form-message" placeholder="Mesajınızı buraya yazın"></textarea>
                    </div>
                    <a href="#">
                        <input type="button" class="btn btn-danger" value="Gönder" />
                    </a>

                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <iframe class="map border-radius" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.0661804185766!2d32.54207691532008!3d37.858741879744215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d09ace0a29e969%3A0x6a9696ee64f3a25b!2zS8SxbMSxw6dhcnNsYW4gxLBNS0IgTWVzbGVrw64gdmUgVGVrbmlrIEFuYWRvbHUgTGlzZXNp!5e0!3m2!1str!2str!4v1672140661183!5m2!1str!2str" width="500" height="250" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</section>

